<div class="container">
    <div class="jumbotron">
        <h1 align="center">HabitzApp</h1>
        <br>
        <div id="habitz-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg text-center" placeholder="New awesome habit!" ng-model="formData.value">
                        <br>
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="addHabitz()">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="habitz-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="checkbox" ng-repeat="habit in habitz">
                <label>
                    <input type="checkbox" ng-click="removeHabitz(habit)">
                    {{ habit.value }}
                </label>
            </div>
        </div>
    </div>
</div>
