<div class="container">
    <div class="jumbotron">
        <h1 align="center">Users</h1>
        <br>
        <div id="users-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg text-center" placeholder="New user" ng-model="formData.name">
                        <br>
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="addUser()">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="users-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="checkbox" ng-repeat="user in users">
                <label>
                    <input type="checkbox" ng-click="removeUser(user)">
                    {{ user }}
                </label>
            </div>
        </div>
    </div>
</div>
